#slide1{
    background-image: url("https://i.ibb.co/7GW7xCc/greyson-joralemon-CXlls8jm1-VI-unsplash.jpg");


}
#slide2{
    background-image: url("https://i.ibb.co/R9bqQzR/thisisengineering-raeng-Ip-TPp-a-Pb-YE-unsplash.jpg");


}
#slide3{
    
    background-image: url("https://i.ibb.co/gj0zJWj/tools02.webp");


}
#slide1, #slide2, #slide3{
    min-height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.overlay{
    min-height:90vh ;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.767);
}
.swiper-pagination-bullet{
        padding: 10px;
        background-color:#bf3157 ;
}